<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <p>Click to authenticate with TourneyBot and enable it with your Twitter account.</p>
    <a href="<%= authUrl %>">
        <img src="signintwitter.png" alt="Sign in button" width="200">
    </a>
</body>

</html>